target
build
out
.gradle
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
*.iml
reports
.DS_Store

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

## Serenity Report ##
target/

# Cache of project##
.gradletasknamecache

##Package Files ##
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

## Log file##
*.log

### Java ###
# Compiled class file
*.class

### ChromeDriver###
chromedriver
chromedriver.exe

/bin/